# Note that the naming of this file is incorrect for our case: these people do not "own" the provided files but are
# people with write-access to this repository (i.e. @Homebrew/core) who wish to approve changes to these files.
#
# Their review is required to merge PRs that change these files.
#
# To be explicit: we will never accept changes to this file adding people from outside the Homebrew GitHub
# organisation. If you are not a Homebrew maintainer: you do not personally "own" or "maintain" any formulae.
#
# Note: @Homebrew/plc does not have write-access to this repository, and therefore cannot be listed in this file.

CODEOWNERS                        @Homebrew/tsc @MikeMcQuaid
CONTRIBUTING.md                   @Homebrew/tsc @MikeMcQuaid 
tap_migrations.json               @Homebrew/tsc @MikeMcQuaid 
.github/ISSUE_TEMPLATE/           @Homebrew/tsc @MikeMcQuaid 
.github/PULL_REQUEST_TEMPLATE.md  @Homebrew/tsc @MikeMcQuaid 
LICENSE.txt                       @Homebrew/tsc @MikeMcQuaid
.github/workflows/                @Homebrew/core @MikeMcQuaid 

audit_exceptions/permitted_formula_license_mismatches.json              @Homebrew/tsc @MikeMcQuaid
audit_exceptions/provided_by_macos_depends_on_allowlist.json            @Homebrew/tsc @MikeMcQuaid
audit_exceptions/universal_binary_allowlist.json                        @Homebrew/tsc @carlocab 
audit_exceptions/versioned_formula_dependent_conflicts_allowlist.json   @Homebrew/tsc @MikeMcQuaid
